<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>Coding社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/community.css"/>
    <link rel="stylesheet" type="text/css" href="/css/editormd.min.css"/>

    <script type="application/javascript" src="/js/jquery3.4.1.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/community.js"></script>
    <script type="application/javascript" src="/js/editormd.min.js"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<!--提问区-->
<div class="container-fluid main">
    <div class="container">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" id="id" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title"
                           autocomplete="off" placeholder="问题标题..." th:value="${title}">
                </div>
                <label for="description">问题补充（必填，请参照右侧提示）</label>
                <div class="form-group" id="test-editor">
                    <textarea id="description" name="description" class="form-control" cols="30" rows="10"
                              th:text="${description}" style="display:none;"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("test-editor", {
                             width  : "100%",
                             height : 700,
                             path   : "/js/lib/",
                             delay  : 0,
                             watch  : false,
                            placeholder : "请输入问题描述..."
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" autocomplete="off"
                           placeholder='输入标签，以“，”分隔' th:value="${tag}" onclick="showSelectTag()">

                    <div id="select-tag" class="publish-tag-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"
                                th:each="selectCategory,selectCategoryStat : ${tags}"
                            th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                                                      data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content icons">
                            <div role="tabpanel" class="tab-pane"
                                 th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory : ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span class="label label-info label-icon" th:each="selectTag : ${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tag" onclick="selectTag(this)" th:data-tag="${selectTag}"
                                    th:text="${selectTag}">
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>


                </div>
                <div th:if="${error != null}">
                    <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" role="alert"
                         th:text="${error}"></div>
                </div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="clo-lg-3 guide">
            <br/><br/>
            <h3>问题发起指南</h3><br/>
            问题标题：请用精简的语言描述您发布的问题，<br/>不超过25字；<br/><br/>
            问题补充：详细补充您的问题内容，<br/>并确保问题描述清晰直观，<br/>
            并提供一些相关的资料；<br/><br/>
            选择标签：选择一个或者多个合适的标签，<br/>
            不超过10个字。
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>

</body>
</html>























